<head>
  <div class="title">
    <title>Noble Brewer Blog - All things craft beer and homebrewing related</title>
  </div>
  <% include ./partials/head %>
</head>

<% include ./partials/header %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<div class="row">
					<h4>Featured Articles</h4>
					<% locals.data.featuredPosts.forEach(function(post, index){ %>
						<% if (index%4 == 0){ %>
							<div class="row">
						<% } %>
						<div class="col-md-6 centered-block">
							<a href="/blog/post/<%= post.slug %>"><img class="img-responsive centered-block" src="<%= post.image.url %>">
							<h5 style="text-transform:uppercase"><%= post.title %></h5></a>
						</div>
						<% if (index%2 != 0){ %>
							</div>
						<% } %>
					<% }) %>
				</div>
				<div class="row">
					<h4>Other Articles</h4>
					<% locals.data.posts.forEach(function(post, index){ %>
						<% if (index%4 == 0){ %>
							<div class="row">
						<% } %>
						<div class="col-md-3 centered-block">
							<a href="/blog/post/<%= post.slug %>"><img class="img-responsive" src="<%= post.image.url %>">
							<h5 style="text-transform:uppercase"><%= post.title %></h5></a>
						</div>	
						<% if ((index+1)%4 == 0){ %>
							</div>
						<% } %>			
					<% }) %>
				</div>
			</div>
		</div>
	</div>
<% include ./partials/footer %>