<head>
  <div class="title">
    <title><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<div id="refcandy-poprocks" data-id="oa8fiutmw2ua9ww0ana70m8rn"></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-poprocks.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-poprocks-js");</script>
</head>

<section class="row top-buffer-thin patterned">
    <div class="col-md-12">
    	<h4 class="col-md-6 col-sm-6 col-xs-12 header"><span><a href="/brewers">Brewers >> </a></span><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></h4>
        <a class="col-md-2 col-xs-5 btn btn-nb" style="float:right" href="mailto:<%= data.brewer.brewerEmail %>" role="button">Email <%= data.brewer.brewerName.first %></a>
    </div>
</section>

<section class="row centered-block light-alt-base">
    <div class="col-md-4 col-xs-12 col-sm-12">
        <img class="img-responsive centered-block" src="<%= data.brewer.profilePicture.url %>">
    </div>
    <div class="col-md-8 top-buffer">
        <br>
        <h2 class="centered-block"><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></h2>
        <p class="brewercity"><%= data.brewer.city %>, <%= data.brewer.state %></p>
        <div class="thin-padding">
            <%- data.brewer.profileHeadline %>
            <%- data.brewer.profileBrief %>
        </div>
    </div>
</section>

<% if (data.brewer.profileVideo) { %>
    <section class="row">
    	<div class="col-md-6 col-md-offset-3">
        	<div class="embed-responsive embed-responsive-16by9" style="padding-bottom:400px">
                <iframe class="embed-responsive-item" style="width:100%; min-height:400px; height:auto; padding-bottom:0px" src="<%= data.brewer.profileVideo %>"></iframe>
        	</div>
        </div>
    </section>
<% } %>

<section class="patterned row centered-block">
    <h3>THE BEER</h3>
    <div class="side-card clearfix col-md-6 col-md-offset-3 col-sm-12 hidden-xs">
        <div class="card-text">
            <a href="<%= data.brewer.featuredBeerProfileURL %>">
                <h4 class="gold"><%= data.brewer.featuredBeerName %></h4>
            </a>
            <hr class="gold">
            <p><%= data.brewer.featuredBeerShortDescription %></p>
        </div>
        <div>
            <img class="side-img image-responsive" style="margin-top:15px" src="<%= data.brewer.featuredBeerPictureURL%>">
        </div>
    </div>

    <div class="card clearfix centered-block hidden-md hidden-lg hidden-sm">
        <a href="<%= data.brewer.featuredBeerProfileURL %>">
            <h4 class="card-text-products" style="min-height:70px; color:#C5A77E"><%= data.brewer.featuredBeerName %></h4>
            <div>
                <img src="<%= data.brewer.featuredBeerPictureURL%>" href="<%= data.brewer.featuredBeerProfileURL %>">
            </div>
        </a>
        <div class="card-text-products top-buffer">
            <p style="min-height:80px" class="light"><%= data.brewer.featuredBeerShortDescription %></p>
        </div>
        <div class="col-md-12 top-buffer">
            <a href="<%= data.brewer.featuredBeerProfileURL %>" class="btn-nb-ghost col-md-12 centered-block">Try Now</a>
        </div>
    </div>

    <div class="row">
        <a class="btn btn-nb col-md-2 col-md-offset-5" href="<%= data.brewer.featuredBeerProfileURL %>">Order</a>
    </div>
</section>

<section class="row light-alt-base">
    <div class="col-md-6 col-sm-6 centered-block">
        <% data.brewer.imageGallery.forEach(function(image, index){ %>
            <% if (index === 2) { %>
                <img class="col-md-11 col-sm-11 col-xs-11 img-responsive top-buffer gallery" src="<%= image.url %>"> 
            <% } else { %>
                <img class="col-md-5 col-sm-11 col-xs-11 img-responsive top-buffer gallery" src="<%= image.url %>">
            <% } %>
        <% }) %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <%- data.brewer.profileBody %>
    </div>
</section>

<section class="patterned">
	<div class="row">
		<div class="col-md-6">
			<h4>Connect with <%= data.brewer.brewerName.first %></h4>
			<p>Ask a question or send your compliments to the brewer.</p>
        </div>
    	<div class="col-md-6">
    		<textarea class="form-control" rows="5" id="message-to-hb" placeholder="Enter your message here..."></textarea>
            <button class="btn btn-nb col-md-12" id="contact-homebrewer" href="mailto:<%= data.brewer.brewerEmail %>">SEND</button>
        </div>
    </div>
</section>

<section>
	<div class="row centered-block">
		<a class="btn btn-nb-ghost" href="/brewers">Back to All Brewers</a>
	</div>
</section>
<% include ./partials/footer %>
<script src="/javascripts/email.js"></script>

