<head>
  <div class="title">
<!--       <title><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></title> -->
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section class="row">
	<h4 class="col-md-9 header"><span><a href="/brewers">Brewers >> </a></span><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></h4>
    <a class="col-md-2 btn btn-nb" href="mailto:<%= data.brewer.brewerEmail %>" role="button">Email <%= data.brewer.brewerName.first %></a>
</section>

<section>
    <div class="row-fluid">
        <img class="img-responsive" src="<%= data.brewer.bannerUrlNormalized %>">
    </div>
</section>

<section class="light-striped">
	<div class="row-fluid">
		<h2 class="centered-block"><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></h2>
		<p class="brewercity"><%= data.brewer.city %> <%= data.brewer.state %></p>
</section>

<section class="row">
	<div class="col-md-12">
		<h4><%= data.brewer.profileHeadline %></h4>
		<p><%= data.brewer.profileBrief %></p>
	</div>

	<div class="col-md-12 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="auto" height="200" src="<%= data.brewer.profileVideo %>"></iframe>
	</div>
</section>

<section class="patterned row">
    <h2 class="row centered-block">THE BEER</h4>

    <div class="side-card clearfix col-md-6 col-md-offset-3">
        <div class="card-text">
            <h4 class="subheader"><%= data.brewer.featuredBeerName %></h4>
            <hr class="gold">
            <h5><%= data.brewer.featuredBeerShortDescription %></h5>
        </div>
        <div>
            <img class="side-img image-responsive" src="<%= data.brewer.featuredBeerURL%>">
        </div>
    </div>
    <div class="row">
        <button class="btn btn-nb col-md-2 col-md-offset-5" href="mailto:<%= data.brewer.brewerEmail %>">Order</button>
    </div>
</section>

<section class="row">
    <div class="col-md-6">
        <% data.brewer.imageGallery.forEach(function(image, index){ %>
            <img class="col-md-12 img-responsive" src="<%= image.url %>">
        <% }) %>
    </div>
    <div class="col-md-6">
        <%= data.brewer.profileBody %>
    </div>
</section>

<section class="patterned">
	<div class="row">
		<div class="col-md-6">
			<h4>Connect with <%= data.brewer.brewerName.first %></h4>
			<p>Test Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat.</p>
        </div>
    	<div class="col-md-6">
    		<textarea class="form-control" rows="5" placeholder="Enter your message here..."></textarea>
            <button class="btn btn-nb col-md-12" href="mailto:<%= data.brewer.brewerEmail %>">SEND</button>
        </div>
    </div>
</section>

<section>
	<div class="row centered-block">
		<a class="btn btn-nb-ghost" href="/brewers">Back to All Brewers</a>
	</div>
</section>
<% include ./partials/footer %>

