<head>
  <div class="title">
<!--       <title><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></title> -->
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
</script>
    <div class="bodyToLoad">
		<div class="row profilebreadcrumb">
			<div class="col-sm-9 visible-lg breadcrumbname">Brewers  >>
                <span class="inlinechange">
                    <%= data.brewer.brewerName.first %>
                    <%= data.brewer.brewerName.last %>
                </span>
			</div>
				<div class="col-lg-3 visible-lg messagebutton">
                    <a class="btn btn-default message" href="mailto:<%= data.brewer.brewerEmail %>" role="button">MESSAGE</a>
				</div>
		</div>

        <div class="container profile">
            <div class="row">
                <img class="img-responsive lgProfilePhoto" src="http://placehold.it/1300x458">
            </div>

			<div class="row fullName">
				<p class="brewername"><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></p>
				<p class="brewercity"><%= data.brewer.city %> <%= data.brewer.state %></p>
			</div>

    <div class="diamond-separator"></div>

            <div class="row headline">
				<div class="col-md-6">
					<h4><%= data.brewer.profileHeadline %></h4>
					<p><%= data.brewer.profileBody %></p>
				</div>

				<div class="col-md-6">
				<img class="img-responsive lgProfilePhoto" src="http://placehold.it/670x379">
                <!-- Replace above img with	<%= data.brewer.profileVideo %> -->
				</div>
            </div>
        </div> <!-- container -->


    <div class="diamond-separator"></div>


            <div class="row thebeer">
                <h4>THE BEER</h4>

                <img class="img-responsive lgProfilePhoto" src="http://placehold.it/570x240">



                <!--  Split img into description and photo -->
                <!-- <div class="row profileBeer">

                    <div class="col-md-6 profileBeerDesc" style="width:270; height: 240">
                        <h4>STOUT</h4>
                        <H2>CAFE CON LECHE STOUT</H2>
                    </div>


                    <div class="col-md-6 profileBeerPic"
                        <img src="http://placehold.it/270x240">
                    </div>
                </div> -->

                    <a class="btn btn-default order" href="mailto:<%= data.brewer.brewerEmail %>" role="button">ORDER THIS BEER</a>
            </div>




    <div class="diamond-separator"></div>
        <br />
		<br />
        <H1 style="text-align: center">Brewer Story and Photos Here</H1>
        <br />
        <br />
    <div class="diamond-separator"></div>


		<div class="row connectBrewer">
			<div class="col-md-6 connectMain">
				<h4>Connect with <%= data.brewer.brewerName.first %></h4>

					<p>Test Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat.</p>
            </div>

        	<div class="col-md-6 connectForm">
        		<textarea class="form-control" rows="7"></textarea>

                <a class="btn btn-default connect"
                    href="mailto:<%= data.brewer.brewerEmail %>" role="button" placeholder="Enter your message here..." >SEND</a>

            </div>
        </div>

    <div class="diamond-separator"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="text-center col-md-12">
					<a class="btn btn-primary gift-button" href="/brewers">Back to All Brewers</a>
				</div>
			</div>
		</div>


</div> <!-- bodytoload -->

<% include ./partials/footer %>

