<head>
  <div class="title">
      <title><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
</script>
<div class="bodyToLoad">
			<div class="row">
				
				<div class="col-md-4">	
					<h4>Homebrewers -> <%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %> </h4>		
				</div>

				<div class="col-md-2 col-md-offset-6" style="border:1px solid black">
					<a href="mailto:<%= data.brewer.brewerEmail %>" align="right">Connect with <%= data.brewer.brewerName.first %></a>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12" align="center">
					<h1><%= data.brewer.brewerName.first %> <%= data.brewer.brewerName.last %></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" align="center">
					<h4><%= data.brewer.city %> <%= data.brewer.state %></h4>
				</div>					
			</div>

		<br />
		<br />
		<br />
	
		<div class="col-md-12">
			<div class="row">	
				<div class="col-md-6">
					<h4><%= data.brewer.profileHeadline %></h4>
					<p><%= data.brewer.profileBody %></p>
				</div>


				<div class="col-md-6">
					<%= data.brewer.profileVideo %>
				</div>
			</div>
		</div>

		<br />
		<br />
		<br />


		<div class="row">
			<div class="col-md-6">
				<div class="col-md-12">
					<h4>Connect with the Brewer</h4>
				</div>
				<br/>
				<div class="col-md-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="col-md-12">
					<textarea class="form-control" rows="3"></textarea>
				</div>

				<div class="col-md-12">
					<a class="btn btn-warning btn-block" href="mailto:<%= data.brewer.brewerEmail %>" role="button" >Connect with <%= data.brewer.brewerName.first %></a>
				</div>
			</div>
		</div>

		<br />
		<br />
		<br />


		<div class="row">
			<div class="col-md-12">
				<div class="text-center col-md-12">
					<a class="btn btn-warning" href="/brewers" role="button">BACK TO ALL BREWERS</a>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>

