<head>
	<div class="title">
		<title>Homebrewers</title>
	</div>
	<% include ./partials/head %>
</head>


<% include ./partials/header %>
<section id="brewers-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 class="brewer-banner-heading">NOBLE BREWERS</h1>
				<p>Home brewers are the backbone of Noble Brewer. Theirs are the stories that sell our fucking beer. So fucking click on their fucking pages you evil bastards.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="alt-base-section brewers-section">
	<div class="container">
		<div class="row">
			<h1 class="brewers-heading">FEATURED BREWERS</h1>
		</div>
		<div class="row">
			<% filters.featuredBrewers.forEach(function(featuredBrewer, index){ %>
			<div class="col-md-6">
				<div class="brewer-card">
					<a href="/profile/<%=featuredBrewer.slug%>"><img src="<%=featuredBrewer.profilePicture.url%>" class="img-responsive"></a>
					<div class="brewer-text">
						<h3><%=featuredBrewer.profileHeadline%></h3>
						<a href="/profile/<%=featuredBrewer.slug%>"><h4><%=featuredBrewer.brewerName.first%> <%=featuredBrewer.brewerName.last%></h4></a>
						<h5><%=featuredBrewer.city%>, <%=featuredBrewer.state%></h5>
						<hr align="left">
						<p><%=featuredBrewer.profileBody%></p>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</section>

<section class="diamond-base-section">
	<div class="row">
		<h1 class="brewers-heading">ALL BREWERS</h1>
	</div>
	<div class="row">
		<% data.allBrewers.forEach(function(brewer, index){ %>
		<div class="col-sm-3 brewers-profile">
			<a href="/profile/<%= brewer.slug%>"><img src="<%= brewer.profilePicture.url%>" class="img-thumbnail circle-img gray-img"></a>
			<p class="brewer-name"><%= brewer.brewerName.first%> <%= brewer.brewerName.last%></p>
			<p class="subheading"><%=brewer.city%>, <%=brewer.state%></p>
		</div>
		<% }) %>
	</div>
	<div class="row">
		<div class="brewer-become">
			<a class="btn btn-primary" href="/brewerSignUp">Become a Brewer</a>
		</div>
	</div>
</section>



<% include ./partials/emailFooter %>
<% include ./partials/footer %>


