<head>
  <div class="title">
      <title>Homebrewers</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>

<div id="refcandy-poprocks" data-id="oa8fiutmw2ua9ww0ana70m8rn"></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-poprocks.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-poprocks-js");</script>
</head>

<section id="brewers-banner">
	<div class="row">
		<div class="col-md-7">
			<h1>CRAFT BEER'S PIONEERS</h1>
			<p>In kitchens and garages everywhere, homebrewers are pushing the limits of craft beer. Learn more about their stories and what it's like to be a Noble Brewer.
			</p>
		</div>
	</div>
</section>

<section class="alt-base">
	<div class="row">
		<h2 align="center">FEATURED BREWERS</h2>
	</div>
	<br>
	<% filters.featuredBrewers.forEach(function(featuredBrewer, index){ %>
			<% if (index%4 == 0){ %>
					<div class="row">
			<% } %>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="card">
							<a href="/profile/<%= featuredBrewer.slug%>"><img src="<%=featuredBrewer.profileUrlNormalized%>"></a>
							<div class="card-text brewers top-buffer-thin" style="height:320px; max-height:none">
								<a class="h4 gold"  href="/profile/<%= featuredBrewer.slug%>"><%=featuredBrewer.brewerName.first%> <%=featuredBrewer.brewerName.last%></a>
									<h5><%=featuredBrewer.city%>, <%=featuredBrewer.state%></h5>
									<hr align="left">
									<% if (featuredBrewer.profileBrief) { %>
										<%-featuredBrewer.profileBrief%>
										<a href="/profile/<%= featuredBrewer.slug%>">Read More...</a>
									<% } else { %>
										<a href="<%-featuredBrewer.profileBrief%>">View Profile...</a>
									<% } %>
							</div>
						</div>
					</div>
				<% if (index%3 === 0 && index !== 0){ %>
					</div>
				<% } %>
			<% }) %>
		</div>
	<br>
</section>
<section class="patterned">
		<div class="row hr-diamonds">
			<h2 align="center">All Brewers</h2>
		</div>
		<br>
		<br>
			<% data.allBrewers.forEach(function(brewer, index){ %>
				<% if (index%4 == 0){ %>
					<div class="row">
				<% } %>
					<div class="col-md-3 col-sm-2" align="center">
						<a href="/profile/<%= brewer.slug%>"><img src="<%= brewer.thumbnailUrlNormalized%>" class="img-thumbnail circle-img gray-img"></a>
						<br>
						<p><%= brewer.brewerName.first%> <%= brewer.brewerName.last%></p>
						<p class="small light"><%=brewer.city%>, <%=brewer.state%></p>
					</div>
				<% if ((index+1)%4 == 0){ %>
						</div>
					</div>
				<% } %>
			<% }) %>
</section>
<section>
		<div class="row centered-block">
			<a class="btn btn-nb" href="/brewerSignUp">Become a Brewer</a>
		</div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>


