<head>
  <div class="title">
      <title>Homebrewers</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1>NOBLE BREWERS</h1>
				<p>Home brewers are the backbone of Noble Brewer. Theirs are the stories that sell our fucking beer. So fucking click on their fucking pages you evil bastards.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="alt-base-section">
	<div class="container">

		<div class="row">
			<h2 align="center">Featured Brewers</h2>
		</div>
		<% filters.featuredBrewers.forEach(function(featuredBrewer, index){ %>
				<% if (index%2 == 0){ %>
						<div class="row" class="featured-row">
				<% } %>
				<% if (featuredBrewer.profilePicture.url) { %>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<div class="brewer_card">
								<img src="<%=featuredBrewer.profilePicture.url%>">
								<div class="brewer-text">
									<h5><%=featuredBrewer.profileHeadline%></h5>

									<h6><%=featuredBrewer.brewerName.first%> <%=featuredBrewer.brewerName.last%></h6>
 									<h7><%=featuredBrewer.city%>, <%=featuredBrewer.state%></h7>
 									<br>
 									<hr align="left">
 									<p><%=featuredBrewer.profileBody%></p>
								</div>
							</div>
						</div>
					<% } else { %>
						<div class="col-md-6" align="center">
							<div class="brewer_card">
								<img src="http://www.vtecsoft.com/images/default-avatar_0.png">
								<div class="brewer-text">
									<h5><%=featuredBrewer.profileHeadline%></h5>

									<h6><%=featuredBrewer.brewerName.first%> <%=featuredBrewer.brewerName.last%></h6>
 									<h7><%=featuredBrewer.city%>, <%=featuredBrewer.state%></h7>
 									<br>
 									<hr align="left">
 									<p><%=featuredBrewer.profileBody%></p>
								</div>
							</div>
						</div>
					<% } %>
					<% if (index%2 != 0){ %>
						</div>
					<% } %>
				<% }) %>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="centered-block">                
				<a class="btn btn-primary" href="/brewerSignUp">Become a Brewer</a>
			</div>
		</div>
</section>
<section>
		<div class="row">
			<h2 align="center">All Brewers</h2>
		</div>

		<div class="col-md-12" align="center">
			<% data.allBrewers.forEach(function(brewer, index){ %>
				<% if (index%6 == 0){ %>
					<div class="col-md-12" align="center">
				<% } %>
				<% if (brewer.profilePicture.url){ %>
					<div class="col-md-3" align="center">
						<img src="<%= brewer.profilePicture.url%>" class="img-thumbnail circle-img">
						<br>
						<a href="/profile/<%= brewer.slug%>"><%= brewer.brewerName.first%> <%= brewer.brewerName.last%></a>
					</div>
				<% } else { %>
					<div class="col-md-3" align="center">
						<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail circle-img"> 
						<br>
						<a href="/profile/<%= brewer.slug%>"><%= brewer.brewerName.first%> <%= brewer.brewerName.last%></a>
					</div>
				<% } %>
				<% if ((index+1)%6 == 0){ %>
					</div>
				<% } %>
			<% }) %>
		</div>
</section>

<% include ./partials/emailFooter %>
<% include ./partials/footer %>


