<head>
  <div class="title">
      <title>Homebrewers</title>
  </div>
  <% include ./partials/head %>
</head>


<% include ./partials/header %>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 class="tan-header">NOBLE BREWERS</h1>
				<p>Home brewers are the backbone of Noble Brewer. Theirs are the stories that sell our fucking beer. So fucking click on their fucking pages you evil bastards.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="alt-base-section">
	<div class="container">

		<div class="row">
			<h2 class="tan-header" align="center">Featured Brewers</h2>
		</div>
		<div class="row">
			<div class="col-md-12" align="center">
				<% filters.featuredBrewers.forEach(function(featuredBrewer, index){ %>
					<% if (index%2 == 0){ %>
						<div class="col-md-12" align="center">
					<% } %>
					<% if (featuredBrewer.profilePicture.url) { %>
						<div class="col-md-6" align="center">
							<img src="<%= featuredBrewer.profilePicture.url %>" class="img-thumbnail">
							<br>
							<a href="/profile/<%= featuredBrewer.slug%>"><%= featuredBrewer.brewerName.first %> <%= featuredBrewer.brewerName.last %></a>
						</div>
					<% } else { %>
						<div class="col-md-6" align="center">
							<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail">
							<br>
							<a href="/profile/<%= featuredBrewer.slug %>"><%= featuredBrewer.brewerName.first %> <%= featuredBrewer.brewerName.last %></a>
						</div>
					<% } %>
					<% if (index%2 != 0){ %>
						</div>
					<% } %>
				<% }) %>
			</div>
		</div>
		<br>
		<div class="centered-block">                
			<a class="btn btn-primary" href="/brewerSignUp">Become a Brewer</a>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<h2 class="tan-header" align="center">All Brewers</h2>
		</div>

		<div class="col-md-12" align="center">
			<% data.allBrewers.forEach(function(brewer, index){ %>
				<% if (index%6 == 0){ %>
					<div class="col-md-12" align="center">
				<% } %>
				<% if (brewer.profilePicture.url){ %>
					<div class="col-md-3" align="center">
						<img src="<%= brewer.profilePicture.url%>" class="img-thumbnail circle-img">
						<br>
						<a href="/profile/<%= brewer.slug%>"><%= brewer.brewerName.first%> <%= brewer.brewerName.last%></a>
					</div>
				<% } else { %>
					<div class="col-md-3" align="center">
						<img src="http://www.vtecsoft.com/images/default-avatar_0.png" class="img-thumbnail circle-img"> 
						<br>
						<a href="/profile/<%= brewer.slug%>"><%= brewer.brewerName.first%> <%= brewer.brewerName.last%></a>
					</div>
				<% } %>
				<% if ((index+1)%6 == 0){ %>
					</div>
				<% } %>
			<% }) %>
		</div>
	</div>
</section>

<% include ./partials/footer %>


