<head>
  <div class="title">
      <title>Give The Gift Of Craft Beer</title>
  </div>

<!-- Google Analytics Content Experiment code -->
 <!-- <script>function utmx_section(){}function utmx(){}(function(){var
// k='80367997-27',d=document,l=d.location,c=d.cookie;
// if(l.search.indexOf('utm_expid='+k)>0)return;
// function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
// indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
// length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
// '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
// '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
// '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
// valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
// '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
// </script> -->
<!-- End of Google Analytics Content Experiment code --> 


  <% include ./partials/head %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<div class="container-fluid">
<% include ./partials/header %>

<section class="homepage-header">
  <div>
    <h2>Treat the beer lover in your life</h2>
    <!-- <a class="btn-nb subscription-link" href="/subscription?utm_source=<%= data.source %>&utm_medium=<%= data.medium %>&utm_term=<%= data.term %>&utm_content=<%= data.content %>&utm_campaign=<%= data.campaign %>">Get Started Now</a> -->
  </div>
</section>

<section class="patterned divider">
</section>

<section class="row dark-striped top-buffer-thin featured-in">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/food-and-wine.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/Fortune.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/liquid-bread.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/product-hunt.png">
  <img class="no-border img-responsive featured-in-icon" src="./images/logos/urban-daddy.png">
</section>

<section class="patterned divider">
</section>

<section class="row" id="our-process-section">
  <h2>Find the perfect gift</h2>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 centered-block">
      <img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/IPA_all_day.jpg" id="one-time-gifts">
      <p>One-Time Gifts</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 centered-block">
      <img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/8_beer_subscription.jpg" id="beer-club">
      <p>Noble Brewer Beer Club</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 centered-block">
    	<a href="http://shop.noblebrewer.com/collections/gifts-beer/products/gift-card?utm_source=<%= data.source %>&utm_medium=<%= data.medium %>&utm_term=<%= data.term %>&utm_content=<%= data.content %>&utm_campaign=<%= data.campaign %>">
	    	<img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/NB_tee.jpg">
	    </a>
      <p>Send a Gift Card</p>
    </div>
  </div>
</section>

<section class="row hidden" id="beer-sampler-section">
	<h3 class="centered-block">Beer Samplers</h3>
	<!-- <p class="centered-block">Send a one-time gift of craft beer</p> -->
	<div class="row top-buffer centered-block">
		<div class="col-md-4 col-md-offset-1">
			<a href="http://shop.noblebrewer.com/collections/noble-brewer-samplers?utm_source=<%= data.source %>&utm_medium=<%= data.medium %>&utm_term=<%= data.term %>&utm_content=<%= data.content %>&utm_campaign=<%= data.campaign %>">
				<img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/NB_6_beer_sampler.jpg">
				<p class="top-buffer-thin">Noble Brewer Beer Samplers</p>
			</a>
		</div>
		<div class="col-md-4 col-md-offset-2">
			<a href="http://shop.noblebrewer.com/collections/pro-samplers?utm_source=<%= data.source %>&utm_medium=<%= data.medium %>&utm_term=<%= data.term %>&utm_content=<%= data.content %>&utm_campaign=<%= data.campaign %>">
				<img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/IPA_all_day.jpg">
				<p class="top-buffer-thin">Other Beer Samplers</p>
			</a>
		</div>
	</div>
</section>

<section class="row hidden" id="multiple-shipment-section">
	<h3 class="centered-block top-buffer">How Noble Brewer Works</h3>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12 centered-block">
		  <img class="no-border thin-margin" src="/images/home/step3.png">
		  <!-- <h4>We Curate</h4> -->
		  <p>We select award winning brewers</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 centered-block">
		  <img class="no-border thin-margin" src="/images/home/step2.png">
		  <!-- <h4>You Taste</h4> -->
		  <p>Pair them with professional breweries</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 centered-block">
		  <img class="no-border thin-margin" src="/images/home/step1.png">
		  <!-- <h4>You Decide</h4> -->
		  <p>And ship the beers to our members</p>
		</div>
		<div class="centered-block">
	    	<a id="learn-more" class="" href="#">Learn More</a>
	    </div>
	</div><br>
	<div class="hr-gold-thin"></div>
	<!-- <h3 class="centered-block top-buffer">Send Multiple Shipments of Beer</h3> -->
	<div class="row centered-block">
		<div class="row">
			<h4>How many bottles would you like to send in each shipment?</h4>
			<i>Every box has 4 unique beers in 22oz bottles.</i>
		</div>
		<div class="row top-buffer">
			<div class="col-md-4 col-sm-4 col-xs-12 centered-block">
				<img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/4_beer_subscription.jpg" id="four-pack">
				<p class="top-buffer-thin">1 of each - $11/beer</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 centered-block">
				<img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/8_beer_subscription.jpg" id="eight-pack">
				<p class="top-buffer-thin">2 of each - $10/beer</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 centered-block">
				<img class="no-border thin-margin img-responsive gold-back-shadow zoom-on-hover" src="/images/beer/12_beer_subscription.jpg" id="twelve-pack">
				<p class="top-buffer-thin">3 of each - $9/beer</p>
			</div>
		</div>
	</div>
	<div class="row hidden" id="number-shipments-section">
		<h4 class="centered-block">How many shipments do you want to send?</h4><br>
		<div class="col-md-1 col-md-offset-2 col-xs-4 gold-back-shadow-thin zoom-on-hover number-shipments" style="margin-left:37%" id="two-shipments">
			<img class="img-responsive no-border" src="/images/beer/number_two.png">
		</div>
		<div class="col-md-1 col-xs-4 gold-back-shadow-thin zoom-on-hover number-shipments" id="three-shipments">
			<img class="img-responsive no-border" src="/images/beer/number_three.png">
		</div>
		<div class="col-md-1 col-xs-4 gold-back-shadow-thin zoom-on-hover number-shipments" id="four-shipments">
			<img class="img-responsive no-border" src="/images/beer/number_four.png">
		</div>
		<!-- <div class="col-md-1 gold-back-shadow-thin zoom-on-hover number-shipments" id="five-shipments">
			<img class="img-responsive no-border" src="/images/beer/number_five_plus.png">
		</div> -->
	</div>
	<div class="hidden" id="suggested-section">
		<h3 class="centered-block top-buffer">We Suggest: </h3>
		<h4 class="centered-block" id="suggested-title">4 Beer Gift Subscription - 2 Shipments</h4>
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<div class="col-md-10 col-md-offset-1">
					<a id="suggested-product-url" href="http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-6-months-of-beer" target="_blank">
						<img class="no-border thin-margin img-responsive" src="/images/beer/4_beer_subscription.jpg" id="suggested-photo">
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-12 top-buffer-thin">
			<div class="col-md-6 col-md-offset-3">
				<div class="col-md-6 centered-block">
					<h4 id="suggested-price">$106</h4>
				</div>
				<div class="col-md-6 top-buffer-thin">
					<a id="suggested-url" class="btn-nb" href="http://shop.noblebrewer.com/cart/add?id=7328218309&utm_source=<%= data.source %>&utm_medium=<%= data.medium %>&utm_term=<%= data.term %>&utm_content=<%= data.content %>&utm_campaign=<%= data.campaign %>">Add To Cart</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="guarantee-section" class="patterned row">
  <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
    <div class="row unsure">
      <h2>We love beer</h2>
      <h5>We'll help you choose the <span><b>perfect gift</b></span> for your friend or loved one.</h5>
      <h5>Need advice? Just ask!</h5>
      <h5>Chat with us online or drop us an e-mail. We love talking about beer.</h5>
    </div>
<!--     <div class="row">
      <div class="col-md-6 col-sm-6">
        <a class="btn-nb" href="/subscription?utm_source=<%= data.source %>&utm_medium=<%= data.medium %>&utm_term=<%= data.term %>&utm_content=<%= data.content %>&utm_campaign=<%= data.campaign %>">Give Me Beer</a>
      </div>
      <div class="col-md-6 col-sm-6">
        <a id="learn-more" class="btn-nb-ghost" href="#">Learn More</a>
      </div>
    </div> -->
  </div>
</section>

<div class="modal fade" id="infographicModal">
  <div class="modal-dialog no-padding">
    <div class="modal-content">
      <div class="modal-body centered-block">
        <img class="img-responsive no-border" src="/images/about/NB-Infographic.jpg">
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/landingpage.js"></script>

 <script type="text/javascript">

 $('#learn-more').click(function(e) {
    e.preventDefault();
    $('#infographicModal').modal('show');
  })

 var bottles = 4;
 var shipments = 2;
 var id = 7328218309;
 var url = "http://shop.noblebrewer.com/cart/add?id=7328218309";
 var price = 106;

  $('#one-time-gifts').on('click', function(e){
  	e.preventDefault();
  	$('#beer-sampler-section').removeClass('hidden');
  	$('#multiple-shipment-section').addClass('hidden');
  	$('html,body').animate({
	   scrollTop: $("#beer-sampler-section").offset().top
	});
  })
  $('#beer-club').on('click', function(e){
  	e.preventDefault();
  	$('#multiple-shipment-section').removeClass('hidden');
  	$('#beer-sampler-section').addClass('hidden');
  	$('html,body').animate({
	   scrollTop: $("#multiple-shipment-section").offset().top
	});
  })
  $('#four-pack').on('click', function(e){
  	e.preventDefault();
	$('#four-pack').addClass('thick-border');
	$('#eight-pack').removeClass('thick-border');
	$('#twelve-pack').removeClass('thick-border');
	$('#number-shipments-section').removeClass('hidden');
	bottles = 4;
	editSuggestion();
  });
  $('#eight-pack').on('click', function(e){
  	e.preventDefault();
	$('#eight-pack').addClass('thick-border');
	$('#four-pack').removeClass('thick-border');
	$('#twelve-pack').removeClass('thick-border');
	$('#number-shipments-section').removeClass('hidden');
	bottles = 8;
	editSuggestion();
  });
  $('#twelve-pack').on('click', function(e){
  	e.preventDefault();
	$('#twelve-pack').addClass('thick-border');
	$('#eight-pack').removeClass('thick-border');
	$('#four-pack').removeClass('thick-border');
	$('#number-shipments-section').removeClass('hidden');
	bottles = 12;
	editSuggestion();
  });
  $('#two-shipments').on('click', function(e){
  	e.preventDefault();
	$('#two-shipments').addClass('thick-border');
	$('#three-shipments').removeClass('thick-border');
	$('#four-shipments').removeClass('thick-border');
	$('#five-shipments').removeClass('thick-border');
	$('#suggested-section').removeClass('hidden');
	shipments = 2;
	editSuggestion();
  });
  $('#three-shipments').on('click', function(e){
  	e.preventDefault();
	$('#three-shipments').addClass('thick-border');
	$('#two-shipments').removeClass('thick-border');
	$('#four-shipments').removeClass('thick-border');
	$('#five-shipments').removeClass('thick-border');
	$('#suggested-section').removeClass('hidden');
	shipments = 3;
	editSuggestion();
  });
  $('#four-shipments').on('click', function(e){
  	e.preventDefault();
	$('#four-shipments').addClass('thick-border');
	$('#three-shipments').removeClass('thick-border');
	$('#two-shipments').removeClass('thick-border');
	$('#five-shipments').removeClass('thick-border');
	$('#suggested-section').removeClass('hidden');
	shipments = 4;
	editSuggestion();
  });
  $('#five-shipments').on('click', function(e){
  	e.preventDefault();
	$('#five-shipments').addClass('thick-border');
	$('#three-shipments').removeClass('thick-border');
	$('#four-shipments').removeClass('thick-border');
	$('#two-shipments').removeClass('thick-border');
	$('#suggested-section').removeClass('hidden');
	shipments = 5;
	editSuggestion();
  });

	function editSuggestion() {
		if (bottles == 8) {
			$('#suggested-photo').attr('src','/images/beer/8_beer_subscription.jpg');
			if (shipments == 2) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=27819534409");
				$('#suggested-price').html('$178');
				$('#suggested-title').html('8 Beer Gift Subscription - 2 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/8-beer-gift-subscription-6-months-of-beer');
			} else if (shipments == 3) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=27819794953");
				$('#suggested-price').html('$267');
				$('#suggested-title').html('8 Beer Gift Subscription - 3 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/8-beer-gift-subscription-9-months-of-beer');
			} else if (shipments == 4) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=9690491077");
				$('#suggested-price').html('$356');
				$('#suggested-title').html('8 Beer Gift Subscription - 4 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/8-beer-gift-subscription-1-year-of-beer');
			}
		} else if (bottles == 12) {
			$('#suggested-photo').attr('src','/images/beer/12_beer_subscription.jpg');
			if (shipments == 2) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=8422821769");
				$('#suggested-price').html('$216');
				$('#suggested-title').html('12 Beer Gift Subscription - 2 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/12-beer-gift-subscription-6-months-of-beer');
			} else if (shipments == 3) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=27819813769");
				$('#suggested-price').html('$324');
				$('#suggested-title').html('12 Beer Gift Subscription - 3 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/12-beer-gift-subscription-9-months-of-beer');
			} else if (shipments == 4) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=27819726089");
				$('#suggested-price').html('$432');
				$('#suggested-title').html('12 Beer Gift Subscription - 4 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/12-beer-gift-subscription-1-year-of-beer');
			}
		} else if (bottles == 4) {
			$('#suggested-photo').attr('src','/images/beer/4_beer_subscription.jpg');
			if (shipments == 2) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=7328218309");
				$('#suggested-price').html('$106');
				$('#suggested-title').html('4 Beer Gift Subscription - 2 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-6-months-of-beer');
			} else if (shipments == 3) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=27819790729");
				$('#suggested-price').html('$159');
				$('#suggested-title').html('4 Beer Gift Subscription - 3 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-9-months-of-beer');
			} else if (shipments == 4) {
				$('#suggested-url').attr('href',"http://shop.noblebrewer.com/cart/add?id=7328176325");
				$('#suggested-price').html('$212');
				$('#suggested-title').html('4 Beer Gift Subscription - 4 Shipments');
				$('#suggested-product-url').attr('href', 'http://shop.noblebrewer.com/collections/gifts-beer/products/4-beer-gift-subscription-1-year-of-beer');
			}
		}
	}
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<% include ./partials/footer %>
</div>
