<head>
  <div class="title">
      <title>Noble Brewer Membership VIP Signup</title>
  </div>
  <% include ./partials/head %>
</head>


<div class="container-fluid" id="member-status-page">
<% include ./partials/header %>
	<section class="row" id="vip">
		<h3>Member Referral Status</h3>
		<h4 id="member-email"><%= data.member_email %></h4>
	</section>
	<section class="patterned row">
		<div class="col-md-5 top-buffer">
			<h3>Pints Earned: <%= data.points %></h3>
			<div class="row">
				<% for (var i = 0; i < 50; i++) { %>
					<% if (i < data.points) { %>
						<% if (i === 9 || i === 24 || i == 49) { %>
							<img class="no-border pints-earned" src="/images/beer/Pint-Glasses-Blue-Star-Full.png">
						<% } else { %>
							<img class="no-border pints-earned" src="/images/beer/Pint-Glasses-Tan.png">
						<% } %>
					<% } else { %>
						<% if (i === 9 || i === 24 || i == 49) { %>
							<img class="no-border pints-earned" src="/images/beer/Pint-Glasses-Blue-Star.png">
						<% } else { %>
							<img class="no-border pints-earned" src="/images/beer/Pint-Glasses-Tan-Empty.png">
						<% } %>
					<% } %>
				<% } %>
			</div>
			<div class="row top-buffer">
				<h4>Share to earn pints</h4>
				<div class="row">
				<div class="col-md-12">
					<a class="col-md-3 col-sm-3 col-xs-3" title="Share Link on Twitter" target="_blank" href="https://twitter.com/home?status=Skip the lines by using my link to join Noble Brewer <%= data.sharing_url.url_twitter %>"><img class="no-border img-responsive sharing-buttons" src="/images/generic/twitter.png"></a>
					<a class="col-md-3 col-sm-3 col-xs-3" title="Share Link on Facebook" href="#" id="facebook-icon"><img class="no-border img-responsive sharing-buttons" src="/images/generic/facebook.png"></a>
					<a class="col-md-3 col-sm-3 col-xs-3" title="Email Link" id="email-icon" href="mailto:?subject=Skip%20The%20Line%20With%20My%20Noble%20Brewer%20Link!&amp;body=Sign%20up%20here%20and%20you%20don't%20have%20to%20wait.%20%20<%= data.sharing_url.url_email %>"><img class="no-border img-responsive sharing-buttons" src="/images/generic/email.png"></a>
					<a class="col-md-3 col-sm-3 col-xs-3" title="Copy Link" href="#" id="copy-icon"><img class="no-border img-responsive sharing-buttons" src="/images/generic/copy.png"></a>
					<input id="link-text" type="text" value="<%= data.sharing_url.url_email %>"></input>
					<p class="notification-text hidden">Copied link to clipboard: <%= data.sharing_url.url_email %></p>
				</div>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-sm-8">
			<div class="row">
				<% if (data.confirmed_referrals.length > 0) { %>
					<h4>Friends</h4>
					<ul>
					<% data.confirmed_referrals.forEach(function(referral, index){ %>
						<li><%= referral.name %> - <%= referral.email %></li>
					<% }) %>
					</ul>
				<% } else { %>
					<h4 class="top-buffer">None of your friends have signed up :(</h4>
				<% } %>
				<% if (data.unconfirmed_referrals.length > 0) { %>
					<p>The friends below signed up but didn't confirm their email. After they do, they'll get access and you'll get a Pint!</p>
					<ul>
					<% data.unconfirmed_referrals.forEach(function(referral, index){ %>
						<li><%= referral.name %> - <%= referral.email %></li>
					<% }) %>
					</ul>
				<% } %>
			</div>
			<h4>Info</h4>
			<p>There is currently a waiting list to join Noble Brewer. As a member, you can get your friends to the top of the list and earn cool stuff while doing it.</p>
			<b>How are "Pints" earned?</b>
			<ul>
				<li>Earn 1 pint for each person that joins the waiting list</li>
				<li>Earn 4 pints for each person that signs up as a member</li>
			</ul>
<!-- 			<b>How long will they have to wait?</b>
			<p>After confirming their email, they will instantly get access</p> -->
			<!-- <b>Gifts</b> -->
			<p>Get a gift of thanks every time you get to a blue pint</p>
			<ul>
				<li>10 pints - $10 Beer Voucher</li>
				<li>25 pints - $15 Beer Voucher + Noble Brewer T-Shirt</li>
				<li>50 pints - $25 Beer Voucher + Double Shipment</li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-4">
<!-- 			<form class="row hidden" id="share-email">
				Send to (separate by commas):
				<input type="text" name="email-addresses"></input>
				Email Message:
				<textarea id="email-message" wrap="hard" cols="20" rows="7" name="message">Hey I think you'll like this <%= data.sharing_url.url_email %></textarea>
				<button class="btn-nb">Send</button>
			</form> -->
		</div>
	</section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
$('#facebook-icon').on('click', function(e){
    e.preventDefault();
    var facebook_appID = '501125043399584'
    url = "https://www.facebook.com/dialog/feed?app_id="+ facebook_appID + "&link=" + encodeURIComponent("<%= data.sharing_url.url_twitter %>")+ 
                "&name=" + encodeURIComponent("Skip the lines") + 
                "&caption=" + encodeURIComponent('Shared from Noble Brewer') + 
                "&description=" + encodeURIComponent("Use my link to join the Noble Brewer waiting list and get bumped to the front of the line") + 
                "&picture=" + encodeURIComponent("http://res.cloudinary.com/noblebrewer/image/upload/v1452033818/vip_k5alyg.png") +
                "&redirect_uri=https://www.facebook.com";
    window.open(url);
});

$('#copy-icon').on('click', function(e){
	console.log("inside copy");
	e.preventDefault();
	document.getElementById('link-text').select();
	document.execCommand('copy');
	$('.notification-text').removeClass('hidden');
})
</script>