<head>
  <div class="title">
      <title>Noble Brewer Membership VIP Signup</title>
  </div>
  <% include ./partials/head %>
</head>


<div class="container-fluid">
<% include ./partials/header %>
	<section class="row" id="vip">
		<h3>Member Referral Status</h3>
		<h4><%= data.member_email %></h4>
	</section>
	<section class="patterned">
		<h3>Current Points: <%= data.points %></h3>
		<h4>Friends that have signed up</h4>
		<% data.referrals.forEach(function(referral, index){ %>
		<p><%= referral.first_name %> <%= referral.last_name %> - <%= referral.email %> - <%= referral.date %></p>
	<% }) %>
	</section>
</div>