<head>
  <div class="title">
      <title>Noble Brewer Membership VIP Signup</title>
  </div>
  <% include ./partials/head %>
</head>


<div class="container-fluid" id="member-status-page">
<% include ./partials/header %>
	<section class="row" id="vip">
		<h3>Noble Brewer Referrals</h3>
	</section>
	<section class="patterned">
		<table class="referral_status_table" style="width:100%">
			<tr>
				<td>Name</td>
				<td>Email</td>
				<td>#Conf</td>
				<td>#Unc</td>
				<td>ID</td>
			</tr>
		<% data.forEach(function(person,err) { %>
			<tr>
				<td><%=person.name%></td>
				<td><%=person.email%></td>
				<td><%=person.numberConfirmed%></td>
				<td><%=person.numberUnconfirmed%></td>
				<td><%=person.id%></td>
			</tr>
		<% }) %>
		</table>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>